//colors
// Blanco-Grises
$white: #fff;
$platinum: #E6E7E7;
$Gray: #BABABA;
// Rosas
$Dark-Salmon: #EE9480;
$Melon: #F4BAAE;
$Pale-pink: #FADFDA;
// Azules
$Ball-Blue: #2AB7CA;
$Middle-Blue: #77D1DD;
$Blue-Lagoon: #B1E4EB;
//Negros
$Onyyx: #333745;
$Spanish-Gray: #8F9199;
$Lavander-Gray: #C7C6CC;
$Raising-Black: #221D23;
$Nickel: #726F73;
$Silver-Chalice: #AEACAF;
// Fonts
$Raleway: 'Raleway', sans-serif;
$Open-Sans: 'Open Sans', sans-serif;
// Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-smal: 12px;
